<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Unit Tests" verbose="1" >

  <test name="Poker Module" >
    <packages>
      <package name="org.uncommons.poker.*" />
    </packages>
  </test>

  <test name="Utilities" >
    <packages>
      <package name="org.uncommons.util.*" />
    </packages>
  </test>

</suite>
